<%- include('./partials/header.ejs') %>

<div class="heading2">About</div>

<div class="top-img top-img2">
  <img src="/images/Sunset Menstrie J Bull-min.jpg" alt="" />
</div>

<div class="outer-text outer-text2">
  <div class="text-container">
    You can contact us by email - menstriecommunity@gmail.com <br />
    Or via our Facebook groups
    <span><img class="facebook" src="/images/facebook.jpg" alt="" /></span>
    <br />
    <br />
    Community Notices
    <a href="https://www.facebook.com/groups/1427283177371988/">click here</a>
    <br /><br />
    Community Legends and Community
    <a href="https://en-gb.facebook.com/groups/715385905236355/ ">click here</a>
    <br /><br />
    We run the following and are always on the look out for new councillors and
    volunteers:
    <p class="indent-text">Yearly Summer Gala event on the Dumyat Park</p>
    <p class="indent-text">Duck Race on Menstrie Burn</p>
    <p class="indent-text">Resilience Group</p>
    <p class="indent-text">Community Woodlands and Jubilee Path</p>
    <p class="indent-text">Castle Museum Keyholder and Maintenance Team</p>
    <p class="indent-text">Christmas Lights</p>
    <p class="indent-text">Community Garden and Stan's Gardening Club</p>
    <p class="indent-text">Community Food Larder</p>
    <p class="indent-text">Quarterly Litter Picks</p>
    <p class="indent-text">Publish Local Magazine - Menstrie Matters</p>
    <p class="indent-text">Administer EDF Burntfoot Microgrant Funding</p>
    <p class="indent-text">
      Stakeholders on Clacks Joint Community Council Form, EDF Burnfoot Funding
      Panel and CSET Funding Panel
    </p>
    <br />
  </div>
</div>
